* {
    margin: 1%;
    text-align: left;
    font-family: 'JetBrains Mono', 'Cascadia Code', monospace;
    
}

body{
    border: 1px solid;
    border-radius: 2%;
    width: 98%;
}

header{
    display: flex;
}

#tittle{
    text-align: center;
}

#header, h1, h2{
    display: flex;
}

#main{
    display: flex;
}

#aside{
    width: 35%;
    font-size: 14px;
    background-color: aquamarine;
}

#section{
    width: 65%;
}

img, h1, h2{
    border-radius: 10%;
    display: flex;
}

