* {
    margin: 1%;
    text-align: justify;
    font-family: 'JetBrains Mono', 'Cascadia Code', monospace;
    
}

body{
    border: 1px solid;
    border-radius: 2%;
    width: 98%;
}

img{
    border-radius: 10%;
}

h3{
    background-color: rgba(105, 226, 185, 0.448);
    
    
}