* {
    margin: 1%;
    text-align: left;
    font-family: 'JetBrains Mono', 'Cascadia Code', monospace;
    
}

body{
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    margin: 0;
}

header{
    display: flex;
    /* border: 1px solid; */
    margin: 0 0 90px;
}

img{
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 5px;
    width: 200px;
}

nav{
    display: flex;
}

main{
    margin: 0;
    display: flex;
}

aside{
    width: 400px;
    background-color: rgb(202, 184, 245);
    border-radius: 5px;
    box-sizing: border-box;
    /* border: 1px solid; */
}

section{
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
    
    /* border: 1px solid; */
}

section h1{
    font-weight: bold;
}
